<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration scan="false" debug="false">
    <!--  
    	See 
    		http://logback.qos.ch/manual/layouts.html
    	for pattern documentation
      -->
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSS,GMT} *%4p* : %m%n</pattern>
    </encoder>
  </appender>

  <!-- 
    Midnight rollover, maximum 16kb messages
    See:
      http://logback.qos.ch/manual/appenders.html 
  -->
  <appender name="S3Appender" class="com.logpig.mweagle.rolling.S3RollingFileAppender">
    <File>./target/logs/logpig.log</File>
    
    <!--  Start S3 Settings -->
    <accessKey>MYACCESSKEY</accessKey>
    <secretKey>MYSECRETKEY_MYSECRETKEY</secretKey>
	<bucketName>applogs</bucketName>
	<!--  Optional S3 Settings 
	<regionName></regionName>
	<retryCount>5</retryCount>
	<mockPut>true</mockPut>
	-->
	<!--  End S3 Settings -->
	
    <encoder>
    	 <!--  Tab delimited so that Pig default loader can parse it without needing a UDF -->
      <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSS,GMT}\t*%4p*\t%m%n</pattern>
    </encoder>
    <rollingPolicy class="com.logpig.mweagle.rolling.S3TimeBasedRollingPolicy">
      <!-- Rollover daily -->
      <fileNamePattern>./target/logs/logpig-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
       <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- Max 16kb size -->
        <maxFileSize>16KB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>
  <root level="INFO">
    <appender-ref ref="stdout"/>
    <appender-ref ref="S3Appender"/>
  </root>
</configuration>
